<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Agnes Shandy - My Profile</title>
    <link href="../css/style.css" rel="stylesheet" /> <!-- digunakan untuk koneksi dengan file CSS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- digunakan untuk menggaunakan sweetalert2-->
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">

</head>
<body>
   <!-- Pembuatan navbar yang dibungkus dengan container sehingga menjadi lebih rapi -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> <!-- Penggunaan class tersebut adalah agar Navbar menjadi responsive sesuai dengan ukuran Layar -->
    <div class="container">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="../index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                <li class="nav-item"><a class="nav-link" href="profile.html">Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="content.html">Content</a></li>
                <li class="nav-item"><a class="nav-link" href="form.html">Form</a></li>
                <li class="nav-item"><a class="nav-link active" href="cards.html">Items</a></li>
                

            </ul>
        </div>
    </div>
</nav>


<!-- Kemudian dibuatlah isi konten dengan menggunakan container. Kemudian posisi konten tersebut berada di tengah layar -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            
        </div>
<!-- pada script di bawah digunakan untuk membuat card yang diisi konten berupa profil penulis

script tersebut dibuat menggunakan template yang tersedia gratis pada komunitas bootstrap

card tersebut ditamping pada sebuah container yang telah dibuat-->

    


    <div class="container" style="text-align: center;">
        <div class="row g-3">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card"  style="height: 500px;">
                    <img src="../assets/desk-plant1.png" style="width: auto;" class="card-img-top" alt="A Street in Europe">
                    <div class="card-body">
                        <h5 class="card-title">Sphere Desk Plant</h5>
                        <p class="card-text">Elegant and Luxury</p>
                        <a href="desc/desc1.html" class="btn btn-checkout">Check</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card" style="height: 500px;">
                    <img src="../assets/desk-plant2.jpeg" style="width: auto;" class="card-img-top" alt="London">
                    <div class="card-body">
                        <h5 class="card-title">Tall Desk Plant</h5>
                        <p class="card-text">Simple and Aesthetic</p>
                        <a href="desc/desc2.html" class="btn btn-checkout">Check</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card" style="height: 500px;">
                    <img src="../assets/desk-plant4.png" style="width: auto;" class="card-img-top" alt="A Street in Europe">
                    <div class="card-body">
                        <h5 class="card-title">Circle Desk Plant</h5>
                        <p class="card-text">Simple and Magnificent</p>
                        <a href="desc/desc3.html" class="btn btn-checkout">Check</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card" style="height: 500px;">
                    <img src="../assets/desk-plant6.jpg" style="width: auto;" class="card-img-top" alt="New York">
                    <div class="card-body">
                        <h5 class="card-title">Tiny Mini</h5>
                        <p class="card-text">Clients Favourite</p>
                        <a href="desc/desc4.html" class="btn btn-checkout">Check</a>
                    </div>
                </div>
            </div>
        </div>

        <p style="font-size: 30px;margin-top: 80px;"><b>Item List</b></p>
        <table class="table-striped border-success">
            <thead>
            <tr>
             
                <th data-field="name">
                <span class="text-success">
                    Item Name
                </span>
                </th>
                <th data-field="desc">
                <span class="text-success">
                    Description
                </span>
                </th>
                <th data-field="price">
                    <span class="text-success">
                        Price
                    </span>
                    </th>
            </tr>
            </thead>
        </table> 


    </div>
<br>



<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>


<script type="text/javascript"
		src="test.js">
</script>
<script type="text/javascript">
	$(document).ready(function () {

	// Use the given data to create
	// the table and display it
	$('table').bootstrapTable({
		data: mydata
	});
	});

	// Parse the imported data as JSON
	// and store it
	var mydata = JSON.parse(da)
</script>


<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


<script src=
"https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js">
</script>

</body>
</html>


